<div class="jumbotron text-center">
  <h1>Theresa</h1>
  <p>For Walky walk walks</p>

</div>

<div class="background" width=100% z-index=-1>
  <%= image_tag('hero2.jpg', :size => '100%xauto')%>
</div>

<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>Select Location</p>
      <button type="button" class="btn btn-default">Default</button>

      <a type="button" class="btn btn-default" href="<%= new_walk_path %>">add walk</a>
      <%= react_component 'MapRender', name: 'India', latitude: @latitude, longitude: @longitude, walks: @walkywalks %>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9931.096460395553!2d-0.073328!3d51.51736!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9b451d586c649129!2sMakers!5e0!3m2!1sen!2suk!4v1597762657115!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src='https://www.malmesbury.com/media/k2/items/cache/e293f59f4ae0fed75a859fdf17db3e7b_XL.jpg' class="img-thumbnail rounded mx-auto d-block">
        <h5>Walk in the Wiltshire</h5>
        <p>This is a beautiful walk, come and enjoy Wiltshire sun on a sunny day...</p>
        <button type="button" class="btn btn-info btn-block">More Info</button>
    </div>
      <%@walks.each do |walk|%>
        <div class ="col-sm-4">
          <% if walk.photo.attached? %>
          <img src="<%=(url_for(walk.photo))%>" width=100%>
          <% end %>

          <h5><%=walk.title%></h5>
          <p><%=walk.description%></p>
          <a type="button" class="btn btn-info btn-block" href="/walks/<%= walk.id %>" >More Info</a>
        </div>
      <%end%>
    </div>
  </div>
</div>