<div class="headerBlock">
  <h1 id="headerBlockTitle">Theresa</h1>
  <p id= "headerBlockSubTitle">For Walky walk walks</p>
  <a href="#all-maps" class="link scrollTo">
    <button type="button" class="btn btn-default">See Walks</button>
  </span></a>
  <a type="button" class="btn btn-default" href="<%= new_walk_path %>">add walk</a>
  <a type="button" class="btn btn-default" href="<%= new_trip_path %>">add trip</a>


  
</div>

<%# background image %>
<div class="parallax">

</div>

<div class="mapHolder">

<%= react_component 'MapRender', latitude: @latitude, longitude: @longitude, walks: @walkywalks %>

</div>

<br></br>

<div class="parallax">
  <div class="containerWithPadding">
    <div class="row">
      <%@walks.each do |walk|%>
        <div class="col-sm-4">
        <div class="backgroundWhite">
          <% if walk.photo.attached? %>
            <img src="<%=(url_for(walk.photo))%>" width="100%">
          <% end %>

          <div class="walk-desc">
            <h5><%=walk.title%></h5>
            <%=walk.description%>
          </div>
                
          <span class='parent-likes'>
            <span class="like_count" <%=walk.id%>'>
              <%= walk.get_likes.size %> &#127752
            </span>
          </span>
                
          <a type="button" class="btn btn-info btn-block" href="/walks/<%= walk.id %>" >More Info</a>
        </div>
        </div>
      <%end%>
    </div>
  </div>
</div>