<div class="headerBlock">
  <h1 id="headerBlockTitle">Theresa</h1>
  <p id= "headerBlockSubTitle">For Walky walk walks</p>
  <a href="#all-maps" class="link scrollTo">
    <button type="button" class="btn btn-default">See Walks</button>
  </span></a>
  
</div>

<%# background image %>
<div class="parallax">

</div>

<div class="mapHolder">
  <div class="row">
  <%# nav stuff not included in react component %>
    <div class="col-sm-4">
      <p>Select Location</p>
        <button type="button" class="btn btn-default">Default</button>
        <a type="button" class="btn btn-default" href="<%= new_walk_path %>">add walk</a>
        <a type="button" class="btn btn-default" href="<%= new_trip_path %>">add trip</a>
    </div>
    <%# all the map stuff - needs to be split into nav on the left and render on the right %>
    <div class="col-sm-8">
      <%= react_component 'MapRender', name: '', latitude: @latitude, longitude: @longitude, walks: @walkywalks %>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9931.096460395553!2d-0.073328!3d51.51736!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9b451d586c649129!2sMakers!5e0!3m2!1sen!2suk!4v1597762657115!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>

<div class="parallax">
  <div class="containerWithPadding">
    <div class="row">
      <%@walks.each do |walk|%>
        <div class="col-sm-4">
        <div class="backgroundWhite">
          <% if walk.photo.attached? %>
            <img src="<%=(url_for(walk.photo))%>" width="100%">
          <% end %>

          <div class="walk-desc">
            <h5><%=walk.title%></h5>
            <%=walk.description%>
          </div>
                
          <span class='parent-likes'>
            <span class="like_count" <%=walk.id%>'>
              <%= walk.get_likes.size %> &#127752
            </span>
          </span>
                
          <a type="button" class="btn btn-info btn-block" href="/walks/<%= walk.id %>" >More Info</a>
        </div>
        </div>
      <%end%>
    </div>
  </div>
</div>