<% if @walk.photo.attached? %>
  <image src="<%=(url_for(@walk.photo))%>" width=100%>
<% end %>

<nav class="navbar navbar-expand navbar-light bg-light">
  <span class="navbar-text" <%=@walk.id%>'>
      <%= @walk.get_likes.size %> &#127752</span>
      
      <span class="navbar-text"><% if current_user.liked? @walk %>
            <div> <%= link_to like_walk_path(@walk, 'unlike'), class: "liked-btn",
            method: :put, remote: :true do %> unlike </div>
                  <% end%>
          <% else %>
            <div> <%= link_to like_walk_path(@walk, 'like'), class: "like-btn",
            method: :put, remote: :true do %> like </div>
                  <% end%>
          <% end%>
          </span>
    
  
  <div class="collapse navbar-collapse" id="navbarText">
    
    <span class="navbar-text">
      <%= link_to 'Edit', edit_walk_path(@walk) %> |
<%= link_to 'Delete', walk_path(@walk),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', walks_path %>
      <%= link_to 'Add to Trip', tripping_path(@walk) %>
    </span>
  </div>
</nav>

      

<section class="jumbotron text-center">
  <div class="container">
    <h1 style="font-family: 'Amatic SC', cursive"><%= @walk.title %></h1>

    <p><%= @walk.description %></p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>
          <strong>Start:</strong>
          <%= @walk.coordinates_start %>
        </p>
      </div>
      <div class="col-sm-6">
        <p>
          <strong>End:</strong>
          <%= @walk.coordinates_end %>
        </p>
      </div>
    </div>
  </div>

<p>
  <strong>Length of walk:</strong>
  <%= @walk.distance %> km
</p>
<p> Posted by <%= @walk.user.username %> </p>

<p>
  Tags:
  <% @walk.tags.each do |tag| %>
    <%= link_to tag.name, walk_tag_path(tag) %>
  <% end %>
</p>

<p>
  <%= react_component 'WalkWeather' %>
</p>
                    
<h2>Comments</h2>
<% @walk.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.username %> says </strong>
  </p>
  <p>
    <%= comment.body %>
  </p>

  <p>
  <%= link_to 'Delete Comment', [comment.walk, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @walk, @walk.comments.build ],
local: true) do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
  <button type="form.submit">add comment</button>
  </p>
<% end %>
