<% if @walk.photo.attached? %>
  <image src="<%=(url_for(@walk.photo))%>" width=100%>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @walk.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @walk.description %>
</p>

<p>
  <strong>Start place:</strong>
  <%= @walk.coordinates_start %>
</p>

<p>
  <strong>End place:</strong>
  <%= @walk.coordinates_end %>
</p>

<p>
  <strong>Length of walk:</strong>
  <%= @walk.distance %> km
</p>
<p> Posted by <%= @walk.user.username %> </p>

<%= link_to 'Edit', edit_walk_path(@walk) %> |
<%= link_to 'Delete', walk_path(@walk),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', walks_path %>

<p>
  <%= react_component 'WalkWeather' %>
</p>
                    
<h2>Comments</h2>
<% @walk.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.username %> says </strong>
  </p>
  <p>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @walk, @walk.comments.build ],
local: true) do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
  <button type="form.submit">add comment</button>
  </p>
<% end %>
