<% if @walk.photo.attached? %>
  <image src="<%=(url_for(@walk.photo))%>" width=100%>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @walk.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @walk.description %>
</p>

<p>
  <strong>Start place:</strong>
  <%= @walk.coordinates_start %>
</p>

<p>
  <strong>End place:</strong>
  <%= @walk.coordinates_end %>
</p>

<p>
  <strong>Length of walk:</strong>
  <%= @walk.distance %> km
</p>

<h2>Comments</h2>
<% @walk.comments.each do |comment| %>
  <p>
    <strong><%= comment.commenter %> says </strong>
  </p>
  <p>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @walk, @walk.comments.build ],
local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
  <button type="form.submit">add comment</button>
  </p>
<% end %>
