
<image src="<%=(url_for(@walk.photo))%>" width="500" height="600">

<p>
  <strong>Title:</strong>
  <%= @walk.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @walk.description %>
</p>

<p>
  <strong>Start place:</strong>
  <%= @walk.coordinates_start %>
</p>

<p>
  <strong>End place:</strong>
  <%= @walk.coordinates_end %>
</p>

<p>
  <strong>Length of walk:</strong>
  <%= @walk.distance %> km
</p>
