<% if @walk.photo.attached? %>
  <image src="<%=(url_for(@walk.photo))%>" width=100%>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @walk.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @walk.description %>
</p>

<p>
  <strong>Start place:</strong>
  <%= @walk.coordinates_start %>
</p>

<p>
  <strong>End place:</strong>
  <%= @walk.coordinates_end %>
</p>

<p>
  <strong>Length of walk:</strong>
  <%= @walk.distance %> km
</p>
<p> Posted by <%= @walk.user.username %> </p>

<span class='parent-likes'>
  <span class="like_count" <%=@walk.id%>'>
  <%= @walk.get_likes.size %> &#127752
</span>

<p>
  Tags:
  <% @walk.tags.each do |tag| %>
    <%= link_to tag.name, walk_tag_path(tag) %>
  <% end %>
</p>

<a>
  <% if current_user.liked? @walk %>
    <div> <%= link_to like_walk_path(@walk, 'unlike'), class: "liked-btn",
    method: :put, remote: :true do %> Liked </div>
  <% end%>
  <% else %>
    <div> <%= link_to like_walk_path(@walk, 'like'), class: "like-btn",
    method: :put, remote: :true do %> Like </div>
<% end%>
<% end%>
<a>
</span>

<%= link_to 'Edit', edit_walk_path(@walk) %> |
<%= link_to 'Delete', walk_path(@walk),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', walks_path %> |
<%= link_to 'Add to Trip', tripping_path(@walk) %>
<p>
  <%= react_component 'WalkWeather' %>
</p>
                    
<h2>Comments</h2>
<% @walk.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.username %> says </strong>
  </p>
  <p>
    <%= comment.body %>
  </p>

  <p>
  <%= link_to 'Delete Comment', [comment.walk, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @walk, @walk.comments.build ],
local: true) do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
  <button type="form.submit">add comment</button>
  </p>
<% end %>
